<nav class="container">
  <ul>
    <li><strong>peliculas, Series y documentales</strong></li>
  </ul>
  <ul>
    <li>
    <%= link_to 'Peliculas', movies_path %>
    </li>
    <li>
        <%= link_to 'Series', series_path %>
    </li>
    <li>
        <%= link_to 'Documentales', documentary_films_path %>
    </li>    
    
  </ul>
</nav>