<h2>¿Qué deseas ver?</h2>
<hr>
<div>
    <%= link_to 'Peliculas', movies_path %>
    <br>
    <%= link_to 'Series', series_path %>
    <br>
    <%= link_to 'Documentales', documentary_films_path %>
</div>