<%= link_to 'Agregar Serie', series_new_path %>
<%# imprimiendo series %>
<div class="grid">
<% @series.each do |serie|%>
   <div>
        <article>
            <header><%=serie[:name]%></header>
            <%=serie[:synopsis]%>
            <footer>Director <%=serie[:director]%> </footer>
        </article>
    </div>  
<% end %>
</div>
